.root {
    text-align: center;
    width: 750px;
    max-width: 90%;
    margin: 0 auto;
    padding: 100px;

    .smile {
        font-size: 50px;
        margin: 10px;
    }

    .description {
        font-size: 22px;
    }
}